.wrapper {
  margin-top: 50px;
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  row-gap: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.block {
  color: #000;
  background-color: rgba(240, 255, 255, 0.7);
  font-size: 16px;

  max-width: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px 40px 22px 40px;
  box-shadow: 1px -1px 35px 18px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 1px -1px 35px 18px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 1px -1px 35px 18px rgba(0, 0, 0, 0.35) inset;
}
.text {
  text-wrap: balance;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  &:hover {
    overflow: visible;
    -webkit-line-clamp: unset;
  }
}
